@use "../variables/variables";

.content-block {
  display: flex;
  flex-direction: column;
  border-radius: variables.$layout-border-radius;
  background-color: variables.$color-contrast-white;

  &__form {
    display: flex;
    flex-direction: column;

    &__label {
      display: flex;
      flex-direction: column;
      font-family: variables.$font-content;
      text-transform: variables.$text-uppercase;
    }
  }

  &__anchor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
