.content-block {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;

    &__label {
      display: flex;
      flex-direction: column;
    }
  }
  &__anchor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
